* {
  margin: 0;
  padding: 0;
  justify-content: center;
}

body {
  background-color: #1a1c28;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

main {
  display: grid;
  padding: 10px;
  grid-template-areas:
    "a a a b"
    "c c d e";
  gap: 10px;
  width: 70%;
}

main div {
  padding: 2rem;
}

.item-a {
  background-color: #eb5020;
  grid-area: a;
}
.item-b {
  background-color: #ffa401;
  grid-area: b;
}
.item-c {
  background-color: #05aa42;
  grid-area: c;
}
.item-d {
  background-color: #01aefd;
  grid-area: d;
}
.item-e {
  background-color: #01aefd;
  grid-area: e;
}
